<h1>Quest Of The Round Table</h1>
<div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <h4>Cards</h4>
        <br><br><br><br>
        <h4>Cards in play</h4>

        <!-- for player to accept or reject sponsoring the card -->
        <div *ngIf="sponsorReq">
          <label for="sponsoring"> can you sponsor the following quest?</label><br>
          <button type="button" (click)="acceptSponsor()" class="btn btn-link">Yes</button>
          <button type="button" (click)="declineSponsor()" class="btn btn-link">No</button>
        </div>        
  <div class="row content">
    <div class="col-sm-3 card">
      <h4>Cards</h4>
      <div *ngFor="let card of cardList; index as i">  
        <!-- <img src={{card}} style="width:250px;height:150px;" (click) = "addToplayerList(i)"> <br><br>       -->
      </div>
    </div>
<div class="col-sm-9">
    <h4><small>Player: {{player["name"]}}</small></h4>
    <div *ngIf="ready">
      <button type="button" class="btn btn-primary" (click)="start()">ready to start</button>
    </div>
    
    <button type="button" style="margin-left:2.5em" class="btn btn-primary" (click)="start()">ready to start</button>
    <button type="button" style="margin-left:2.5em" class="btn btn-primary" (click)="send()"> send </button>
    <div *ngIf="condition">
      <h5>Your hand</h5>
      <div class="row itemsBlock">
      </div>
    </div>
    <br><br>
    <div class="playercard">
      <h4><small>List of Card</small></h4>
      <div *ngFor="let card of myHand; index as i">
        <div class="column">
          <!-- <img src="{{card}}" style="width:150px;height:100px;" class="itemImage" (click)="selected(i)"/> -->
        </div>
      </div>
    </div>
    <br>
    <div class="selectedcard">
      <h4><small>Selected Card</small></h4>
      <div *ngFor="let card of selectedCards; index as i">
        <div class="column">
          <!-- <img src={{card}} style="width:150px;height:100px;" class="itemImage" (click)="cancel(i)"/> -->
        </div>
      </div>
    </div>
</div>
<footer class="container-fluid">
    <p>Footer Text</p>
  </footer>