


// THIS IS MY PART
//  Set height of the grid so .sidenav can be 100% (adjust if needed) 
.row.content {height: 1000px}
 h1{
     text-align: center;
 }   
//  Set gray background color and 100% height 
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}
.midnav {
  background-color: #202020;
  height: 100%;
}
.player{
  background-color: #f1f1f1;
  height: 10%;  
  padding: 1%;
}
.Stage{
  background-color: #f1f1f1;
  height: 25%;   
  padding: 1%;
}
.hand{
  background-color: #f1f1f1;
  height: 50%;   
  padding: 1%;
}
.start{
  background-color: #f1f1f1;
  height: 500px;
  position: relative;
}
.start-button {
  margin: 0;
  top: 50%;
  left: 30%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.itemImage-stage{
  width:100%;
  height:auto;
}
.itemImage-hand{
  width:75%;
  height:auto;
}

.myBox {
  border: none;
  padding: 5px;
  font: 24px/36px sans-serif;
  width: 320px;
  height: 200px;
  overflow: scroll;
  left:10cm;
  }

// Set black background color, white text and some padding 
footer {
  background-color: rgb(27, 24, 24);
  color: white;
  padding: 15px;
  text-align: center;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .card {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
  .itemImage{
    width:200px;
    height:auto;
  }
}