<h1>Quest Of The Round Table</h1>
<div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <h4>Cards</h4>
        <br><br><br><br>
        <h4>Cards played by other player</h4>        
      </div>
<div class="col-sm-9">
    <h4><small>Player: {{player["name"]}}</small></h4>
    <button type="button" class="btn btn-primary" (click)="start()">ready to start</button>
    <div *ngIf="condition">
      <h5>Your hand</h5>
      <div class="row itemsBlock">
        <div *ngFor="let card of myHand" class="col-md-4 col-sm-6 col-12">
             <img class="itemImage" (click)="selected(card)" src="{{card['url']}}" />
             <span class="itemitle">{{card['type']}}</span>
        </div>
     </div>
    </div>
    <br><br>
    <h4>list of cards</h4>
    <br><br>
    <h4>selected cards</h4>
    </div>
<footer class="container-fluid">
    <p>Footer Text</p>
  </footer>