/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1000px}
 h1{
     text-align: center;
 }  
.column {
  float: left;
  width: 200px;
  padding: 1%;
}
 
/* Set gray background color and 100% height */
.card {
  background-color: #979797;
  height: 100%;
  padding: 1%;
}
.player{
  background-color: #c7f7ff;
  height: 10%;
  padding: 3%;
}
.playercard{
  background-color: #ffb7b7;
  height: 35%;
  padding: 3%;
}
.selectedcard{
  background-color: #f8ffb7;
  height: 35%;
  padding: 3%;
}
.itemImage{
  width:50%;
  height:auto;
  padding: 5%;
  object-fit: cover;
}

/* Set black background color, white text and some padding */
footer {
  background-color: rgb(27, 24, 24);
  color: white;
  padding: 15px;
  text-align: center;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .card {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
  .itemImage{
    width:200px;
    height:auto;
  }
}

ul {
  white-space: nowrap;
  display: inline;
}

// THIS IS MY PART
//  Set height of the grid so .sidenav can be 100% (adjust if needed) 
.row.content {height: 1000px}
 h1{
     text-align: center;
 }   
//  Set gray background color and 100% height 
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}
.midnav {
  background-color: #ff8181;
  height: 100%;
}
.player{
  background-color: #d9ff81;
  height: 10%;  
  padding: 1%;
}
.Stage{
  background-color: #81ffb1;
  height: 25%;   
  padding: 1%;
}
.hand{
  background-color: #ff81f5;
  height: 50%;   
  padding: 1%;
}
.start{
  background-color: #f7ff81;
  height: 1200%;
  position: relative;
}
 Set black background color, white text and some padding 
footer {
  background-color: rgb(27, 24, 24);
  color: white;
  padding: 15px;
  text-align: center;
}
