
  
    <!-- THIS IS MY PART -->
    <h1>Quest Of The Round Table</h1>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h2>Text box containing the rules for quest preparation</h2>
      <br><br><br><br>
      <h4>a stage is made up of either a single foe and any number of weapons OR a single test card</h4>
      <br>
      <h4>a quest can only have one test</h4>
      <br> 
      <h4>each stage has to have a higher value than the last</h4>       
    </div>
    <div class="col-sm-9 midnav">
      <div class = "player">
        <h4><small>Player: {{player["name"]}}</small></h4>

        <div *ngIf="ready">
          <button type="button" class="btn btn-primary" (click)="readyToStart()">Ready</button>
        </div>
        
      </div>
      <br><br>
      <div class="Stage" ngbDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" ngbDropdownToggle="dropdown">
          Stage {{roundNUM}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        <!-- <ul class="dropdown-menu" ngbDropdownMenu>
          <li><a class="dropdown-item">Stage 1</a></li>
          <li><a class="dropdown-item">Stage 2</a></li>
          <li><a class="dropdown-item">Stage 3</a></li>
        </ul> -->
        <div>
          <button type="button" class="btn btn-link" (click)="nextStage()">Next Stage</button>

        </div>
        <div *ngIf="areSelected">
          <div class="row" >
            <div class="col-sm-2" *ngFor="let card of selectedCards, index as i">                
              <img src="{{card['url']}}" alt="{{card['type']}}" style="width:100px;height:200px;">             
              
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class = "hand">
        <div class = "row">
          <div class = "col-sm-10">
            <h4> Your hand </h4>
          </div>

          <div *ngIf="condition">
            <div class="row" >
              <div class="col-sm-2" *ngFor="let card of myHand, index as i">                
                <img src="{{card['url']}}" alt="{{card['type']}}" (click)="isSelected(i)" style="width:100px;height:200px;">             
                
              </div>
            </div>
          </div>
          <div class = "col-sm-2">
            <div class="start">
              <button type="button" class="btn btn-primary btn-lg" style="position: absolute; top: 40%; left: 40%;" (click)="start()">
                Start
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>
